@import "tailwindcss";
@import "@fontsource-variable/roboto-flex";
@import "@fontsource-variable/noto-sans-sc";
@import "@fontsource-variable/noto-serif-sc";

#root {
  /* DEFAULT WINDOW PROPERTIES */
  font-family: var(--font-sans);
  background-color: var(--color-neutral-800);
  min-height: 100vh;
}

@theme {
  --font-sans: 'Noto Sans SC Variable', sans-serif;
  --font-serif: 'Noto Serif SC Variable', serif;

  /* CUSTOM DEFAULTS */
  --font-roboto: "Roboto Flex Variable", sans-serif;
}

.splash-screen {
  font-family: var(--font-roboto);
  border-radius: var(--radius-2xl);
}

.window-drag {
  -webkit-app-region: drag;
}